@import "tailwindcss/base";
@layer base {
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/source-sans-pro-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/source-sans-pro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/source-sans-pro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/source-sans-pro-v14-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/source-sans-pro-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/source-sans-pro-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/source-sans-pro-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/raleway-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v18-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/raleway-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/raleway-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v18-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v18-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

:root {
  --clr-txt: #1a1a1a;
  --clr-pri: #412dc0;
  --clr-sec: #ffffff;
  --clr-acc: #81e6d9;

  --clr-bg-pri: #ffffff;
  --clr-bg-sec: #f4e8e8;
  
  --font-head: "Raleway", sans-serif;
  --font-reg: "Source Sans Pro", sans-serif;

  --fxxs: clamp(0.6rem, 0.9vw, 1rem);
  --fxs: clamp(0.8rem, 1vw, 1.2rem);
  --fsm: clamp(1rem, 1.2vw, 1.6rem);
  --fmd: clamp(1.5rem, 1.5vw, 2rem);
  --flg: clamp(1.8rem, 1.8vw, 2.4rem);
  --fxl: clamp(2.4rem, 3vw, 4rem);
  --fxxl: clamp(3rem, 5vw, 7rem);
  --fxxxl: clamp(4.5rem, 7vw, 8rem);
}

:root.dark {
  --clr-txt: #ffffff;
  --clr-pri: #412dc0;
  --clr-sec: #f4e8e8;
  --clr-acc: #81e6d9;

  --clr-bg-pri: #1a1a1a;
  --clr-bg-sec: #282825;
}

@media(prefers-color-scheme: dark) {
  :root {
    --clr-txt: #ffffff;
    --clr-pri: #412dc0;
    --clr-sec: #f4e8e8;
    --clr-acc: #81e6d9;
  
    --clr-bg-pri: #1F0A29;
    --clr-bg-sec: #282825;
  }
}
  .dark-move {
    transform: translate(8px);
  }

  html {
    font-family: var(--font-reg);
  }

  body {
    background-color: var(--clr-bg-pri);
  }

  a {
    text-decoration: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 0.2rem;
    background: linear-gradient(90deg, #26C3FA 33%, #FC6BF7, 66%, #F6CE6C 100%);
    border: 1px solid pink;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid var(--clr-txt);
    background-color: var(--clr-txt);
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    margin-top: -6px;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-head);
  }
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
